project:
  type: website
  output-dir: docs

website:
  title: "ECON4538"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - lectures.qmd
      - recitations.qmd
      - assignments.qmd
      - exercises.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



